<a href="https://colab.research.google.com/github/BaldrenXG/100-days-of-python/blob/main/Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = 3
b = -4
c = 1
 
delta = b**2 - 4 * a * c
 
 
print(f'Delta: {delta}')

Delta: 4

In [2]:
a1 = 14
a10 = 50
n = 10
 
s10 = ((a1 + a10) / 2) * n
 
 
print(f'The sum of the first 10 elements in a sequence: {s10}')

The sum of the first 10 elements in a sequence: 320.0

In [3]:
a1 = 8
a2 = 8 * 2
n = 6
 
q = a2 / a1
s6 = a1 * ((1 - q**n) / (1 - q))
 
 
print(f'The sum of the first {n} elements of the sequence is: {s6}')

The sum of the first 6 elements of the sequence is: 504.0